/* Reset default margin and padding */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Set a background color and center content */
  body {
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  #intro {
    width: 85%; 
    margin: auto;  
  }

  #mealSection {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: none;

  }

  /* Style for each meal */
.meal {
  width: 100%; /* Make each meal take up 50% of the container width */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: cornsilk;
}

/* Style for the lists container */
.lists {
  display: flex;
  text-align: left;
}

/* Style for the ingredients list */
.ingredients {
  flex: 1; /* Make the ingredients list take up 50% of the meal width */
}

/* Style for the instructions list */
.instructions {
  flex: 1; /* Make the instructions list take up 50% of the meal width */
}

  /* Style the header elements */
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
  }
  
  /* Style the paragraph */
  p {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
  }
  
  /* Style the button */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
 
  